@font-face {
  font-family: Gotham;
  src: url(/resources/fonts/GothamPro-Medium.woff2);
}

.authorization-page {
  background-image: url(/resources/images/background@2x.png);
  background-size: cover;
  font-family: Gotham, "Montserrat", sans-serif;
  display: inline-block;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.authorization-block {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  color: #262626;
  display: block;
  width: 600px;
  height: auto;
}

.authorization-block_position {
  margin: auto;
}

.logo {
  margin: 142px auto 125px auto;
  text-align: center;
}

.logo__img {
  height: 69px;
  width: 315px;
  padding-right: 15px;
}

.authorization-form__h3 {
  color: #262626;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.8;
}

.authorization-form__h3_position {
  margin: 0px auto 0px auto;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}

.authorization-form__input {
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  display: block;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  opacity: 0.8;
  height: 48px;
  width: 504px;
}

.authorization-form__input_position {
  padding-left: 16px;
  margin: 0px auto 32px auto;
}

.authorization-form__error-message {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  opacity: 0.8;
  padding-left: 16px;
  background-color: rgba(237, 65, 89, 0.25);
  text-align: left;
  font-size: 14px;
  color: #ed4159;
  height: auto;
  width: 503px;
}

.authorization-form__error-message_position {
  margin: 0px auto 32px auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.authorization-form__button-container {
  padding-bottom: 1px;
}

.authorization-form__button {
  border: none;
  border-radius: 100px;
  background-color: #ed4159;
  box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.authorization-form__button:hover {
  box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
  background-color: #ffffff;
  color: #ed4159;
  font-size: 14px;
}

.authorization-form__button_login_position {
  margin: 48px auto 60px auto;
  padding: 17px 56px 17px 56px;
}

.authorization-form__button_logout_position {
  margin: 56px auto 60px auto;
  padding: 17px 56px 17px 56px;
}

.authorization-form__photo {
  width: 128px;
  height: 128px;
}

.authorization-form__photo_position {
  padding: 48px 236px 40px 236px;
}

.authorization-form__photo-text {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  opacity: 0.8;
}

.authorization-form__photo-text_position {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 615px) {
  .logo {
    margin: 43px auto 37px auto;
  }

  .logo__img {
    height: 40px;
    width: 182px;
    padding-right: 4px;
  }

  .authorization-block {
    width: 288px;
  }

  .authorization-form__h3 {
    font-size: 20px;
  }

  .authorization-form__h3_position {
    padding: 32px;
  }

  .authorization-form__input {
    height: 46px;
    width: 240px;
  }

  .authorization-form__input_position {
    margin: 0px auto 24px auto;
  }

  .authorization-form__error-message {
    margin: 0px auto 24px auto;
    width: 240px;
  }

  .authorization-form__button_login_position {
    margin: 40px auto 48px auto;
  }

  .authorization-form__button_logout_position {
    margin: 40px auto 48px auto;
  }

  .authorization-form__photo {
    width: 86px;
    height: 86px;
  }

  .authorization-form__photo_position {
    padding: 32px 101px 24px 101px;
  }

  .authorization-form__photo-text {
    font-size: 18px;
    letter-spacing: 0.15px;
  }
}
